<!-- ////////////// FOOTER ////////////// -->
footer
	section.footer
		.container
			.row.text-center
				.col-md-4
					img(src="./img/logo.png", alt="", srcset="")
					p.mt-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia commodi sint illo pariatur, laboriosa
					p.mt-3(style="font-weight: bold; color: black;") Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.fontawesome
						i.fa.fa-twitter
						i.fa.fa-github
						i.fa.fa-google
				.col-md-4
					h6 FULLSTACK VIỆT NAM
					-for(i = 0 ;i <=4;i++)
						p ASDASDASDASD
				.col-md-4
					h6 FULLSTACK VIỆT NAM
					-for(i = 0 ;i <=4;i++)
						p ASDASDASDASD
			.row.text-center
				.col.copyright
					.copyright
						p.mb-0 Copyright 2018 by
							strong.ml-2 FullStack Vietnam
